<!DOCTYLE html>
<style>
#mapLegend {
    float: right;
}
</style>
<html lang='en'>

<head>
    <title>VISUALIZATION</title>
    <style>
    #pollutionC{
        background-color: green;
        color: white;
    }
    #pollutionF{
        background-color: green;
        color: white;
    }
    #timeC{
        background-color: blue;
        color: white;
    }
    #timeF{
        background-color: blue;
        color: white;
    }
    body {
        font-family: sans-serif;
    }
    
    circle {
        opacity: 0.85;
    }
    
    .domain {
        fill: none;
        stroke: #000;
    }
    
    .tick {
        font-size: 15;
    }
    
    .tick line {
        stroke: #ccc;
    }
    
    #tooltip {
        position: absolute;
        left: 10;
        background-color: rgba(192, 188, 188, 0.8);
        padding: 5;
        border: solid 1px grey;
        visibility: hidden;
        transition: all 0.2s;
    }
    </style>
</head>

<body onload="svg()">
    <h2>Route Planner</h2>
    <div id="tooltip">ToolTip</div>
    <div id='mapLegend'>
        <h5>Relative Pollution<p>Values</h5>
        <svg width="100" height="500">
            <g id='legend'></g>
        </svg>
    </div>
    </div>
    <form>
        <label>Start Station</label>
        <select id='stationStart'>
            <!-- <option value="Aldermans Green">Aldermans Green</option>
            <option value="Baker Street">Baker Street</option>
            <option value="Bank">Bank</option>
            <option value="Trafalgar Square">Trafalgar Square</option> -->
        </select>
        <label>End Station</label>
        <select id='stationEnd'>
            <!-- <option value="Aldermans Green">Aldermans Green</option>
            <option value="Baker Street">Baker Street</option>
            <option value="Bank">Bank</option>
            <option value="Trafalgar Square">Trafalgar Square </option> -->
        </select>
        <input type="button" onclick="change()" value="Get route" />
        <!-- <button onclick="change()" id="submit"> Get route </button> -->
        <!-- <br> {% if from_station %} Departing from {{ from_station }}. {% else %} No start station selected. {% endif %}
        <br> {% if to_station %} Going to {{ to_station }}. {% else %} No destination station selected. {% endif %} -->
    </form>
    <div id="tubeMap" onclick="link(event)">
        <div id="cleanPath">
            <p>Clean Path  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Pollution: <span id="pollutionC">NaN</span>&nbsp&nbsp Time: <span id="timeC">NaN</span></p>
                <p id="cleanStr">No start/end station selected.</p>
        </div>
        <div id="fastPath">
            <p>Fast Path &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Pollution: <span id="pollutionF">NaN</span>&nbsp&nbsp Time: <span id="timeF">NaN</span></p>
                <p id="fastStr">No start/end station selected.</p>
        </div>
</body>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/station.js') }}"></script>
<!-- <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery-1.12.min.js') }}"></script> -->
<script>
//Parameters
var height = 500;
var width = 1000;
var margin = {
    top: 20,
    left: 30,
    right: 20,
    bottom: 20
};
var innerHeight = height - margin.top - margin.bottom;
var innerWidth = width - margin.left - margin.right;
var colorRange = ['#00a3e0', '#000000', '#a45a2a', '#da291c', '#10069f', '#e89cae', '#7c878e', '#007a33', '#ffcd00', '#840b55', '#00b2a9'];

//global variables
var data = [];
var chart = d3.select("#legend");
var yAxisGroup = chart.append('g')
    .attr('transform', "translate(" + margin.left + "," + margin.top + ")");
var dotGroup = chart.append('g')
    .attr('transform', "translate(" + margin.left + "," + margin.top + ")");

//Global functions
function highlight(name) {
    dotGroup.selectAll('circle').style("stroke", function(d, i) {
        return d.N
    });
}

function unHighlight() {
    dotGroup.selectAll('circle').style("stroke", undefined);
}

var t = 0;
//Render the chart
function renderChart(values) {
    //chart properties
    chart
        .attr('height', height)

    //set scales
    var yScale = d3.scale.sqrt()
        .range([innerHeight, 0])
        .domain(d3.extent(values, function(d) {
            return d.N
        }));
    var colorScale = d3.scale.ordinal().range(colorRange);

    //set axes
    var yAxis = d3.svg.axis()
        .scale(yScale)
        .orient('left')

    //call the axis groups    
    yAxisGroup.call(yAxis);

    //add the circles to the plot
    dotGroup.selectAll("circle")
        .data(values, function(d) {
            return d.N
        })
        .enter()
        .append("circle")
        .attr('r', 5)
        .attr("cy", function(d, i) {
            return yScale(d.N)
        })
        .attr("fill", function(d, i) {
            return colorScale(d.line)
        })
        .on('mouseenter', function(d, i) {
            highlight(d.N);
            d3.select('#tooltip').style({
                visibility: 'visible',
                top: d3.event.clientY,
                left: d3.event.clientX
            }).html("Line: " + d.line + "<p>" + "Station: " + d.station + "<p>" + "Pollution: " + d.N)
        })
        .on('mouseleave', function(d, i) {
            unHighlight(d.N);
            d3.select('#tooltip').style({
                visibility: 'hidden'
            })
        })

    dotGroup.selectAll("circle").transition()
        .attr('r', 5)
        .attr("cy", function(d, i) {
            return yScale(d.N)
        })
        .attr("fill", function(d, i) {
            return colorScale(d.line)
        })
}

//master render function
function render(data) {
    /*//parse values for relevant values
    var parsed = data.filter(function(d) {return d.N 
        != undefined});
    var filtered = parsed.filter(function (d) {return d.N != undefined});
            
    //render visuals*/
    renderChart(data);
}

//Load data, run visualizations        
d3.csv("{{ url_for('static', filename='resources/CUSPTubeDummy.csv') }}",
        function(error, result) {
            data = result;
            render(result);
        })
    // d3.xml("{{ url_for('static', filename='assets/map_svg.svg') }}", "image/svg+xml", function(error, xml) {
function svg() {
    $("#tubeMap").prepend('<img id="tubeSvg" src={{ url_for("static", filename="img/tubemap.png") }} width="900" height="500"/>');
    // var flag = true;
    // if (flag) {
    //     d3.xml("{{ url_for('static', filename='assets/map_svg.svg') }}", "image/svg+xml", function(error, xml) {
    //         if (error) throw error;
    //         g = xml.documentElement;
    //         g.setAttribute("id", "tubeSvg");
    //         console.log("No");
    //         document.getElementById("tubeMap").appendChild(g);
    //     });
    // }
    // console.log(flag);
}

function link(event) {
    if (t % 4 == 0) {
        t += 1;
        d3.select('#tooltip').style({
            visibility: 'visible',
            top: event.clientY,
            left: event.clientX
        }).html("Line: District" + "<p>" + "Station: Upminster" + "<p>" + "Pollution: 0.07");
    } else if (t % 4 == 2) {
        t += 1;
        d3.select('#tooltip').style({
            visibility: 'visible',
            top: event.clientY,
            left: event.clientX
        }).html("Line: Docklands Light Railway" + "<p>" + "Station: Woolwich Arsena" + "<p>" + "Pollution: 0.07")
    } else {
        t += 1;
        d3.select('#tooltip').style({
            visibility: 'hidden'
        })
    }
}
for (p in stations) {
    var toAppend = '<option>' + p + '</option>';
    $("#stationStart").append(toAppend);
    $("#stationEnd").append(toAppend);
}

var map = 0;
var cleanStr1 = "Borough => London Bridge => Bank => Moorgate => Barbican => Farringdon => King's Cross St. Pancras => Euston Square Great Portland Street => Baker Street => Finchley Road =>Wembley Park => Preston Road => Northwick Park => Harrow-on-the-Hill => North Harrow => Pinner => Northwood Hills => Northwood => Moor Park => Rickmansworth => Chorleywood => Chalfont & Latimer => Chesham";
var fastStr1 = "Borough=> Elephant & Castle=> Lambeth North=> Waterloo=> Westminster=> Green Park=> Bond Street=> Baker Street=> Finchley Road=> Wembley Park=> Preston Road=> Northwick Park=> Harrow-on-the-Hill=> North Harrow=> Pinner=> Northwood Hills=> Northwood=> Moor Park=> Rickmansworth=> Chorleywood=>Chalfont & Latimer=> Chesham";

var cleanStr2 = "Euston=> King's Cross St. Pancras=> Euston Square=> Great Portland Street=> Baker Street=> Bond Street=> Green Park=> Victoria=> Pimlico=> Vauxhall=> Stockwell";
var fastStr2 = "Euston=> Warren Street=> Oxford Circus=> Green Park=> Victoria=> Pimlico=> Vauxhall=> Stockwell";
var pollution1 = "7.57"; //Route 1 Clean line
var pollution2 = "9.88"; //Route 1 Fast line 
var pollution3 = "8.86"; //Route 2 Clean line
var pollution4 = "9.36"; //Route 2 Fast line

var time1 = "74 min"; //Route 1 Clean line
var time2 = "67 min"; //Route 2 Fast line
var time3 = "22 min"; //Route 1 Clean line
var time4 = "14 min"; //Route 2 Fast line
function change() {
    $("#tubeSvg").remove();
    if (map == 0) {
        $("#tubeMap").prepend('<img id="img1" src={{ url_for("static", filename="img/tubemap1a.png") }} width="900" height="500"/>');
        map = 1;
        document.getElementById('cleanStr').innerHTML = cleanStr1;
        document.getElementById('pollutionC').innerHTML = pollution1;
        document.getElementById('timeC').innerHTML = time1;
        document.getElementById('fastStr').innerHTML = fastStr1;
        document.getElementById('pollutionF').innerHTML = pollution2;
        document.getElementById('timeF').innerHTML = time2;
        return;
    }
    if (map == 1) {
        $("#img1").remove();
        $("#tubeMap").prepend('<img id="img1" src={{ url_for("static", filename="img/tubemap2.png") }} width="900" height="500"/>');
        map = 2;
        document.getElementById('cleanStr').innerHTML = cleanStr2;
        document.getElementById('pollutionC').innerHTML = pollution3;
        document.getElementById('timeC').innerHTML = time3;
        document.getElementById('fastStr').innerHTML = fastStr2;
        document.getElementById('pollutionF').innerHTML = pollution4;
        document.getElementById('timeF').innerHTML = time4;
        return;
    }
}
</script>

</html>
