<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<h1>Route Planner</h1>
		{% if from_station %}
			Departing from {{ from_station }}.
		{% else %}
		 	No start station selected.
		{% endif %}
		<br/>
		{% if to_station %}
			Going to {{ to_station }}.
		{% else %}
		 	No destination station selected.
		{% endif %}
		
		<h2>Plan a route</h2>
		<form action='/route' method='POST'>
			<label>Start Station</label>
			<select name='start'>
				<option value="Aldermans Green">Aldermans Green</option>
				<option value="Baker Street">Baker Street</option>				
				<option value="Bank">Bank</option>
				<option value="Trafalgar Square">Trafalgar Square</option>					
			</select> 
			<br/>
			
			<label>End Station</label>
			<select name='end'>
				<option value="Aldermans Green">Aldermans Green</option>
				<option value="Baker Street">Baker Street</option>				
				<option value="Bank">Bank</option>
				<option value="Trafalgar Square">Trafalgar Square</option>	
			</select>
			<br/>
			<input type="submit" name="submit" value="Get route" id="submit">
		</form>
		
	</body>

</html>